body {
  background: peachpuff;
  margin: 0;
}

* {
  border: 3px solid white;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  font-size: 2em;
  color: white;
  flex-wrap: wrap;
}

.a {
  flex-grow: 1;
  width: 100vw;
  background: teal;
}
.group {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 3;
  background: orange;
}

.b, .c, .d, .e, .f, .g {
  flex-grow: 1;
  width: 35%;
}

.h {
  min-height: 40vh;
  flex-grow: 2;
  background: teal;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
  }
.h {
    min-height: 40vh;
  }

  .b, .c, .d, .e, .f, .g {
    flex-wrap: wrap;
  }
}