body {
  background: blanchedalmond;
  margin: 0;
  text-align: center;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  color: white;
  font-size: 2em;
}

* {
  border: 2px solid white;
}          

.a {
  background-color: rgb(7, 184, 45);
  flex-grow: 1;
}

.b {
  background-color: rgb(204, 9, 9);
  height: 55vh;
  flex-grow: 2;
}

.c {
  background-color: rgb(6, 108, 126);
  flex-grow: 1;
}

@media (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    width: 100%;
    height: 25%;
  }

  .b {
    width: 75%;
    height: 75%;
  }

  .c {
    width: 20%;
  }
}